body{
font-family:Arial;
background:#f4f6f8;
padding:10px;
}

.container{
max-width:700px;
margin:auto;
background:white;
padding:15px;
border-radius:10px;
}

input,select{
width:100%;
padding:10px;
margin-bottom:10px;
}

button{
padding:10px;
margin:5px 0;
width:100%;
cursor:pointer;
}

.topbar{
display:flex;
justify-content:space-between;
font-weight:bold;
margin-bottom:10px;
}

.nav{
display:flex;
gap:10px;
}

#questionNav{
display:flex;
flex-wrap:wrap;
gap:5px;
margin-bottom:15px;
}

.qbtn{
width:35px;
height:35px;
}

.answered{
background:green;
color:white;
}

.current{
border:3px solid blue;
}

.match-row{
display:flex;
justify-content:space-between;
align-items:center;
gap:10px;
margin-bottom:8px;
}

.match-row span{
flex:1;
}

.match-row select{
flex:1;
padding:8px;
}

@media(max-width:600px){
.match-row{
flex-direction:column;
}
}

